updateDevices/src/main/webapp/wsdl/org_opentosca_nodetypes_BoschOTAUpdateDevice__org_opentosca_iot_interfaces_devicemanagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="org_opentosca_nodetypes_BoschOTAUpdateDevice__org_opentosca_iot_interfaces_devicemanagementService" targetNamespace="http://nodetypeimplementations.opentosca.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" elementFormDefault="unqualified" targetNamespace="http://nodetypeimplementations.opentosca.org/" version="1.0">
<xs:element name="updateDevice" type="tns:updateDevice"/>
<xs:element name="uploadBinary" type="tns:uploadBinary"/>
<xs:complexType name="uploadBinary">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="tenant" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="user" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="password" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="host" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="distributionSetName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="urlToBinary" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateDevice">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="tenant" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="user" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="password" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="host" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="deviceName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="distributionSetName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="uploadBinary">
    <wsdl:part name="parameters" element="tns:uploadBinary">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDevice">
    <wsdl:part name="parameters" element="tns:updateDevice">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="org_opentosca_nodetypes_BoschOTAUpdateDevice__org_opentosca_iot_interfaces_devicemanagement">
    <wsdl:operation name="uploadBinary">
      <wsdl:input name="uploadBinary" message="tns:uploadBinary">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateDevice">
      <wsdl:input name="updateDevice" message="tns:updateDevice">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="org_opentosca_nodetypes_BoschOTAUpdateDevice__org_opentosca_iot_interfaces_devicemanagementServiceSoapBinding" type="tns:org_opentosca_nodetypes_BoschOTAUpdateDevice__org_opentosca_iot_interfaces_devicemanagement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadBinary">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="uploadBinary">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateDevice">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateDevice">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="org_opentosca_nodetypes_BoschOTAUpdateDevice__org_opentosca_iot_interfaces_devicemanagementService">
    <wsdl:port name="org_opentosca_nodetypes_BoschOTAUpdateDevice__org_opentosca_iot_interfaces_devicemanagementPort" binding="tns:org_opentosca_nodetypes_BoschOTAUpdateDevice__org_opentosca_iot_interfaces_devicemanagementServiceSoapBinding">
      <soap:address location="http://localhost:9090/org_opentosca_nodetypes_BoschOTAUpdateDevice__org_opentosca_iot_interfaces_devicemanagementPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
