updateGroup/src/main/webapp/wsdl/org_opentosca_nodetypes_BoschOTAManager__groupmanagement_update.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="org_opentosca_nodetypes_BoschOTAManager__groupmanagement_updateService" targetNamespace="http://nodetypeimplementations.opentosca.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" elementFormDefault="unqualified" targetNamespace="http://nodetypeimplementations.opentosca.org/" version="1.0">
<xs:element name="updateGroup" type="tns:updateGroup"/>
<xs:complexType name="updateGroup">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="distributionSetName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="nameOfGroup" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="tenant" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="user" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="password" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="host" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateGroup">
    <wsdl:part name="parameters" element="tns:updateGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="org_opentosca_nodetypes_BoschOTAManager__groupmanagement_update">
    <wsdl:operation name="updateGroup">
      <wsdl:input name="updateGroup" message="tns:updateGroup">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="org_opentosca_nodetypes_BoschOTAManager__groupmanagement_updateServiceSoapBinding" type="tns:org_opentosca_nodetypes_BoschOTAManager__groupmanagement_update">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateGroup">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateGroup">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="org_opentosca_nodetypes_BoschOTAManager__groupmanagement_updateService">
    <wsdl:port name="org_opentosca_nodetypes_BoschOTAManager__groupmanagement_updatePort" binding="tns:org_opentosca_nodetypes_BoschOTAManager__groupmanagement_updateServiceSoapBinding">
      <soap:address location="http://localhost:9090/org_opentosca_nodetypes_BoschOTAManager__groupmanagement_updatePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
