sync/src/main/webapp/wsdl/org_opentosca_nodetypes_BoschOTAManager__deviemanagement_sync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="org_opentosca_nodetypes_BoschOTAManager__deviemanagement_syncService" targetNamespace="http://nodetypeimplementations.opentosca.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://nodetypeimplementations.opentosca.org/" elementFormDefault="unqualified" targetNamespace="http://nodetypeimplementations.opentosca.org/" version="1.0">
<xs:element name="syncTOSCAwithRollout" type="tns:syncTOSCAwithRollout"/>
<xs:complexType name="syncTOSCAwithRollout">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="tenant" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="user" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="password" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="host" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="syncTOSCAwithRollout">
    <wsdl:part name="parameters" element="tns:syncTOSCAwithRollout">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="org_opentosca_nodetypes_BoschOTAManager__deviemanagement_sync">
    <wsdl:operation name="syncTOSCAwithRollout">
      <wsdl:input name="syncTOSCAwithRollout" message="tns:syncTOSCAwithRollout">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="org_opentosca_nodetypes_BoschOTAManager__deviemanagement_syncServiceSoapBinding" type="tns:org_opentosca_nodetypes_BoschOTAManager__deviemanagement_sync">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="syncTOSCAwithRollout">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="syncTOSCAwithRollout">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="org_opentosca_nodetypes_BoschOTAManager__deviemanagement_syncService">
    <wsdl:port name="org_opentosca_nodetypes_BoschOTAManager__deviemanagement_syncPort" binding="tns:org_opentosca_nodetypes_BoschOTAManager__deviemanagement_syncServiceSoapBinding">
      <soap:address location="http://localhost:9090/org_opentosca_nodetypes_BoschOTAManager__deviemanagement_syncPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
